@model HomeShareDAL.BienEchange
@{
    ViewBag.Title = "_DerniersBiens";
}


<div class="properties" style="width:300px;">
    <div class="image-holder">
        <img src="~/Content/img/@Model.Photo" class="img-responsive" alt="properties" />
        <div class="status sold">@Model.IsEnabled</div>
    </div>
    <h4><a href="property-detail.php">@Model.Titre</a></h4>
    <p class="price">@Model.DescCourte</p>
    <a class="btn btn-primary" href="property-detail.php">Voir Details</a>
</div>